<section class="bg-white">
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24 items-center">
    <div>
      <h2
        class="text-purple-900 font-semibold tracking-tighter lg:text-5xl text-3xl">
        We help customers achieve stunning results
      </h2>
    </div>
    <div>
      <ul
        role="list"
        class="grid grid-cols-2 lg:grid-cols-4 gap-4 list-none lg:gap-6 mt-12">
        <li>
          <div>
            <p class="font-semibold text-purple-900">$70M</p>
          </div>
          <div class="mt-2 text-slate-500 text-sm">
            Total increase in failiures annual count
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-purple-900">3 months faster</p>
          </div>
          <div class="mt-2 text-slate-500 text-sm">Than our competence</div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-purple-900">1 Miliion workers</p>
          </div>
          <div class="mt-2 text-slate-500 text-sm">
            Where injured in working hours
          </div>
        </li>
        <li>
          <div>
            <p class="font-semibold text-purple-900">50 new countries</p>
          </div>
          <div class="mt-2 text-slate-500 text-sm">
            That has banned our incompetence
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>