---

import { Icon } from "astro-icon";
// import { RocketLaunch } from 'phosphor-astro';

const { nomargin } = Astro.props;



const sectionFive = {
    buttonLink: "/explore-features",
    buttonText: "Explore Features"
};
---

<!-- Section Five -->
  



    
          <a href={featureTwo.buttonLink} class="inline-flex items-center justify-center px-4 py-2 rounded-full font-medium mr-4 mt-8" style="background-color: #5046e4; color: #fff; border: 1px solid #6767ff; border-radius: 30px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.7); transition: all 0.2s ease; font-size: 0.875rem; height: 2.625rem;">
            {featureTwo.buttonText}
          </a>
        