---
import Container from "../container.astro";
import { Icon } from "astro-icon";

const { margin } = Astro.props;

const footermenu = {
  products: [
      { title: "Welcome", path: "/os" },
      { title: "Manage", path: "/manage" },
      { title: "Build", path: "/build" },
      { title: "Sell", path: "/sell" },
      { title: "Finance", path: "/finance" },
      { title: "Talent", path: "/talent" },
      { title: "Experience", path: "/experience" },
      { title: "Connect", path: "/connect" },
      { title: "Share", path: "/share" },
      { title: "Document", path: "/document" },
      { title: "Learn", path: "/learn" },
  ],
  useCases: [
  { title: "Insights", path: "/insights" },
      { title: "Workflows", path: "/workflows" },
      { title: "Views", path: "/views" },
      { title: "Administration", path: "/administration" },
      { title: "Customization", path: "/customization" },
      { title: "APIs & Webhooks", path: "/apis" },
      { title: "View Applications", path: "/suite/apps" },
      { title: "View Integrations", path: "/integrations/apps" },
  ],
  industries: [
  { title: "Retail", path: "/retail" },
      { title: "Financial Services", path: "/financial-services" },
      { title: "Technology", path: "/technology" },
      { title: "Healthcare", path: "/healthcare" },
      { title: "Education", path: "/education" },
      { title: "Enterprise", path: "/enterprise" },
      { title: "Startups", path: "/startups" },
      { title: "Agencies", path: "/agencies" },
      { title: "Government", path: "/government" },
      { title: "Non-Profits", path: "/non-profits" },
  ],
  resources: [
  { title: "Empress Blog", path: "https://blog.empress.eco/" },
        { title: "Explore Community", path: "/community" },
        { title: "Become an Advocate", path: "/advocate" },
        { title: "Read the Docs", path: "https://docs.empress.eco/" },
        { title: "Find Support", path: "https://support.empress.eco/en/" },
        { title: "Leave Feedback", path: "https://empress.canny.io/feedback" },
        { title: "Contact Sales", path: "/contact" },
        { title: "Pricing", path: "/pricing" },
  ]
};

---

<footer
  class:list={[
    "py-14 bg-slate-100 border-t border-slate-100",
    margin && "mt-10",
  ]}>
  <Container>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <div class="sm:col-span-1 md:col-span-1 lg:col-span-1">
        <a href="/" class="text-lg flex items-center"
          ><span class="font-bold text-indigo-600">empress</span><span
            class="text-slate-600">.eco</span
          >
          <!-- <span
            class="uppercase mt-0.5 leading-none text-[10px] ml-1 font-bold bg-gray-200 text-slate-700 px-2 py-1 rounded-md"
            >BETA</span
          > -->
        </a>
        <p class="mt-4 text-sm text-slate-700 max-w-xs">
          The Launchpad for Business Growth.
        </p>
        <div class="flex gap-3 mt-4 items-center">
          <a
            href="https://twitter.com/empress_eco"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-twitter" class="w-4 h-4" />
            <span class="sr-only">Twitter or X</span></a
          >
          <a
            href="https://discord.com/invite/3xcm97vBYX"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-discord" class="w-4 h-4" /><span
              class="sr-only">Discord</span
            ></a
          >
          <a
            href="https://www.youtube.com/channel/UCCFb7RTb_4mgm7qNoB3mVzw"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-youtube" class="w-4 h-4" /><span
              class="sr-only">YouTube</span
            ></a
          >
          <a
            href="https://www.linkedin.com/company/19204219/admin/feed/posts/"
            target="_blank"
            rel="noopener noreferrer"
            class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
            <Icon name="bx:bxl-linkedin-square" class="w-4 h-4" /><span
              class="sr-only">LinkedIn</span
            ></a
          >
        <a
        href="https://www.instagram.com/empress_eco/"
        target="_blank"
        rel="noopener noreferrer"
        class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
        <Icon name="ri:instagram-fill" class="w-4 h-4" /><span
          class="sr-only">Instagram</span
        ></a
      >
      <!-- <a
      href="https://www.reddit.com/r/empress_eco/"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
      <Icon name="ic:baseline-reddit" class="w-4 h-4" /><span
        class="sr-only">Reddit</span
      ></a
    > -->
    <a
    href="https://www.tiktok.com/@empress_eco"
    target="_blank"
    rel="noopener noreferrer"
    class="bg-slate-200 hover:bg-slate-300 rounded w-6 h-6 inline-flex items-center justify-center text-slate-500">
    <Icon name="ic:sharp-tiktok" class="w-4 h-4" /><span
      class="sr-only">TikTok</span
    ></a
  >
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Products</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.products.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Features</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.useCases.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Solutions</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.industries.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
      <div>
        <h3 class="font-medium text-sm text-slate-800">Resources</h3>
        <div class="flex flex-col mt-3">
          {
            footermenu.resources.map((item) => (
              <a
                href={item.path || "#"}
                class="py-2 text-sm text-slate-600 hover:text-indigo-600">
                {item.title}
              </a>
            ))
          }
        </div>
      </div>
    </div>
  </Container>

  <div class="mt-14 pt-8 px-5 border-t border-slate-200">
    <Container>
      <p class="text-center text-sm text-slate-600 [text-wrap:balance]">
        Copyright © {new Date().getFullYear()} Empress. All rights reserved.
      </p>
      <p class="text-center text-xs text-slate-600 mt-2">
        <a href="/terms" class="hover:text-indigo-500"> Terms</a> ・ <a
          href="/privacy"
          class="hover:text-indigo-500">
          Privacy</a
        >
      </p>
    </Container>
  </div>
</footer>
